<header class="codrops-header">
  <h1>Ler arquivo CNAB</h1>
  <p>
    <strong>
      <a href="https://github.com/ByCodersTec/desafio-ruby-on-rails">Desafio programação Ruby on Rails</a>
    </strong>
  </p>
  <p>
    <%= link_to('Home', root_path) %> |
    <%= link_to('Listagem', negotiations_path) %> |
    <%= link_to('Sair', destroy_user_session_path, method: :delete) %>
  </p>
</header>
