<div class="github">
  <%= link_to user_github_omniauth_authorize_path do %>
    <%= image_tag('https://miro.medium.com/max/700/1*dDNpLKu_oTLzStsDTnkJ-g.png') %>
    <span>Sign in with Github<span>
  <% end %>
</div>