* {
  box-sizing: border-box;
  margin-block-start: 2px;
  margin-block-end: 2px;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
}

h1 {
  text-align: center;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 455px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  color: #fff;
}


body {
  font: 14px "Lucida Grande", Verdana, sans-serif;
  padding: 0;
  margin: 0;
}
#upload {
  float: left;
  width: 100%;
  display: block;
  padding: 10px;
  box-sizing: border-box;
}
#upload ul {
  list-style: none;
}
#upload li {
  float: left;
  margin-bottom: 10px;
  display: block;
  clear: left;
}
#send-file {
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
  width: 150px;
  height: 30px;
  display: block;
  border: 0 none;
  background: #F90;
}