<header class="codrops-header">
  <h1>Fazer um nav bar</h1>
</header>



  <div class="box">
    <%= render "form_search" %>
    <hr>
    <div id="result">
      <div id="result_negotiations">
        <table>
          <thead>
            <%= render 'header' %>
          </thead>
          <tbody>
            <%= render @negotiations %>
          </tbody>
        </table>
        </div>
    </div>
  </div>
