document.getElementById("result_negotiations").innerHTML='';
document.getElementById("result_negotiations").innerHTML="<table class='table table-striped'><thead><%= j(render(:partial => 'header')) %></thead><tbody><%= j(render @negotiations) %></tbody></table>"
